<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="hotel">
            <h1>Hotel Management System</h1>
            <div class="navi">
                <a class="active" href="home.html">Home</a>
            <a href="login.html">login</a>
            <a href="register.html">register</a>
            <a href="about.html">about</a>
            <a href="dashboard.html">dashboard</a>
        </div>
        </div>
    </body>
</html>