<!DOCTYPE html>
<html>
    <head>
        <title>login page</title>
        <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="item1">
        <h2>welcome to login page</h2>
        <form action="dashboard.html"methods="POST">
            <label>User Name</label>
            <input type="text"placeholder="enter the user name" required><br>
            <label>password:</label>
            <input type="password"placeholder="enter the password" required><br>
            <p>Create new account<a href="register.html"> click here</a><br></p>
            <input type="submit">
        </form>
    </div>
</body>
</html>