<!DOCTYPE html>
<html>
    <head>
        <title>register page</title>
        <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="item2">
        <h1>welcome to registration page</h1>
        <form action="Dashboard.html" method="POST">
        <label>First Name</label>
        <input type="text" customer="enter your first name"required><br>
        <label>Second Name</label>
        <input type="text"customer="enter the second name"required><br>
        <label>password:</label>
        <input type="password"customer="enter the password"required><br>
        <input type="submit">
        </form>
    </div>
</body>
</html>